* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 10px auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

/* COLONNE */
[class*="col-"] {
  float: left;
  padding: 0 10px;
}

[class*="col-"].padding-0 {
  padding: 0;
}

/* MEDIA QUERY */

/* media query smartphone */
@media screen and (min-width: 767px) {
  /* columns */
  .col-xs-12 {
    width: calc((100% / 12) * 12);
  }

  .col-xs-11 {
    width: calc((100% / 12) * 11);
  }

  .col-xs-10 {
    width: calc((100% / 12) * 10);
  }

  .col-xs-9 {
    width: calc((100% / 12) * 9);
  }

  .col-xs-8 {
    width: calc((100% / 12) * 8);
  }

  .col-xs-7 {
    width: calc((100% / 12) * 7);
  }

  .col-xs-6 {
    width: calc((100% / 12) * 6);
  }

  .col-xs-5 {
    width: calc((100% / 12) * 5);
  }

  .col-xs-4 {
    width: calc((100% / 12) * 4);
  }

  .col-xs-3 {
    width: calc((100% / 12) * 3);
  }

  .col-xs-2 {
    width: calc((100% / 12) * 2);
  }

  .col-xs-1 {
    width: calc((100% / 12) * 1);
  }

  /* offset */
  .offset-xs-12 {
    margin-left: calc((100% / 12) * 12);
  }

  .offset-xs-11 {
    margin-left: calc((100% / 12) * 11);
  }

  .offset-xs-10 {
    margin-left: calc((100% / 12) * 10);
  }

  .offset-xs-9 {
    margin-left: calc((100% / 12) * 9);
  }

  .offset-xs-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .offset-xs-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .offset-xs-6 {
    margin-left: calc((100% / 12) * 6);
  }

  .offset-xs-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .offset-xs-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .offset-xs-3 {
    margin-left: calc((100% / 12) * 3);
  }

  .offset-xs-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .offset-xs-1 {
    margin-left: calc((100% / 12) * 1);
  }
}

/* media query tablet */
@media screen and (min-width: 991px) {
  /* columns */
  .col-md-12 {
    width: calc((100% / 12) * 12);
  }

  .col-md-11 {
    width: calc((100% / 12) * 11);
  }

  .col-md-10 {
    width: calc((100% / 12) * 10);
  }

  .col-md-9 {
    width: calc((100% / 12) * 9);
  }

  .col-md-8 {
    width: calc((100% / 12) * 8);
  }

  .col-md-7 {
    width: calc((100% / 12) * 7);
  }

  .col-md-6 {
    width: calc((100% / 12) * 6);
  }

  .col-md-5 {
    width: calc((100% / 12) * 5);
  }

  .col-md-4 {
    width: calc((100% / 12) * 4);
  }

  .col-md-3 {
    width: calc((100% / 12) * 3);
  }

  .col-md-2 {
    width: calc((100% / 12) * 2);
  }

  .col-md-1 {
    width: calc((100% / 12) * 1);
  }

  /* offset */
  .offset-md-12 {
    margin-left: calc((100% / 12) * 12);
  }

  .offset-md-11 {
    margin-left: calc((100% / 12) * 11);
  }

  .offset-md-10 {
    margin-left: calc((100% / 12) * 10);
  }

  .offset-md-9 {
    margin-left: calc((100% / 12) * 9);
  }

  .offset-md-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .offset-md-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .offset-md-6 {
    margin-left: calc((100% / 12) * 6);
  }

  .offset-md-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .offset-md-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .offset-md-3 {
    margin-left: calc((100% / 12) * 3);
  }

  .offset-md-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .offset-md-1 {
    margin-left: calc((100% / 12) * 1);
  }
}
